<footer class="footer">
  <div class="contact">
    <ul>
      <li><a href="mailto:{{ site.email }}"><img src="{{ site.baseurl }}assets/icons/at-solid.svg" alt="Email" class="contact-icon"></a></li>
      <li><a href="https://github.com/{{ site.github }}"><img src="{{ site.baseurl }}assets/icons/github.svg" alt="Github" class="contact-icon"></a></li>
      <li><a href="https://instagram.com/{{ site.instagram }}"><img src="{{ site.baseurl }}assets/icons/instagram-bw.svg" alt="Instagram" class="contact-icon"></a></li>
    </ul>
  </div>
</footer>
